@model Adult.Models.VideoViewModel

<div ng-app="adultApp">
    <div ng-view></div>
</div>

<!--create a factory that serializes this model-->


@Scripts.Render("~/Scripts/angular.min.js")
@Scripts.Render("~/Scripts/angular-route.min.js")
@Scripts.Render("~/Scripts/angular-messages.min.js")

@Scripts.Render("~/assets/app/shared/directives/tooltip-init.js")
@Scripts.Render("~/assets/app/directives/directives.js")
@Scripts.Render("~/assets/app/controllers/controllers.js")
@Scripts.Render("~/assets/app/adultApp.js")

